/*General custom styles*/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background: #f5f5f5;
    overflow-x: none;
    font-family: 'Lato'
}

a:hover {
    text-decoration: none;
}

.table td, .table th {
    border: none;
}


.custom-navbar {
    background: #FFFFFF;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
}

.custom-navbar-logo {
    height: 35px;
    width: auto;
}

.navbar-profile-img {
    height: 20px;
    width: 20px;
}

.custom-text {
    color: #D0214D;
}

.custom-btn {
    background: #D0214D;
    color: #FFFFFF;
}

.qwiqsapce-text-grey {
    color: #444;
}

.custom-btn:hover{
    background: #BE0C39;
}

.custom-btn-outline {
    color: #D0214D;
    border: 1px solid #D0214D;
    background: #FFF;
    transition: all 0.2s ease-in-out;
}

.custom-btn-outline:hover {
    color: #FFFFFF;
    border: 1px solid #D0214D;
    background: #D0214D;
}

.custom-link {
    color: #D0214D !important;
}

.custom-link:hover{
    color: #BE0C39 !important;
}

.animate-navbar-dropdown {
    animation-name: slideInDown;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.main-div {
    margin-top: 10vh;
}

.modal .modal-header, .modal .modal-footer, .modal .modal-body  {
    border: none;
}

.content-loading-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: hidden;
}

.content-loading-div img{
    width: 90px;
    height: 90px;
}

.form-intro-div-animation {
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.text-grey {
    color: #444;
}
/* styles for the login signup pages */
.login-signup-div {
    margin-top: 20vh;
}

.login-signup-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-form-intro-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-image: linear-gradient(to right bottom, red, #fff);
    color: #fff;
    width: 90%;
    position: relative;
    margin-bottom: -7vh;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6);
}

.login-signup-form-input-div {
    width: 100%;
    padding: 20px;
    z-index: 0;
    padding-top: 10vh;
}

.login-signup-form-input-div form .btn-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-signup-form-input-div button[type='submit'] {
    color: red;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 0px;
}

.login-signup-form-input-div button[type='submit']:hover {
    background: #c0c0c0;
}

.admin-login-signup-form-input-div {
    padding-top: 10px;
}

.client-login-logo {
    height: 120px;
    width: 120px;
    vertical-align: center;
    margin-left: 40%;
}

/* for the admid dashboard page*/
.admin-dashboard-main-div {
    margin-top: 9vh;
}

.admin-custom-navbar {
    background: #fff !important;
    color: #444;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.admin-custom-navbar .navbar-brand, .admin-custom-navbar .dropdown-toggle {
    color: #444 !important;
}

.admin-dashboard-content-div {
    left: 17vw;
    padding-top: 30px;
}

.admin-dashboard-side-div {
    background-color: #fff;
    padding: 10px 0 0px 5px;
    height: 89vh;
    position: fixed;
}

.admin-dashboard-side-div-title {
    font-size: 13px;
}

.admin-dashboard-side-div li {
    list-style-type: none;
    height: 40px;
    height: 40px;
    line-height: 3.2;
    padding-left: 3px;
}

.admin-dashboard-side-div li a {
    display: block;
    color: #666666;
    font-size: 0.8rem;
    word-spacing: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.admin-dashboard-side-div li.selected{
    color: #fff;
    border: 1px solid #FBB036;
    border-radius: 5px;
    background: #FBB036;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}

.admin-dashboard-side-div li a:hover {
    color: #444;
    font-weight: bold;
}

.admin-dashboard-side-div li.selected a{
    
}

.place-details-slide-img-div {
    height: 70vh !important;
}

.place-details-slide-img-div img {
    height: inherit;
}

.floating-btn {
    height: 60px;
    width: 60px;
    font-size: 3rem;
    line-height: 0.8;
    border: 1px solid #59CEB5;
    bottom: 0;
    right: 0;
    margin: 20px;
    position: fixed;
    text-align: center;
    background: #59CEB5;
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
}
